*{
    margin: 0;
    padding: 0;
}

.firstSection img{
    display: block;
    margin: 25px auto;
    border: #555 solid 2px;
    box-shadow: 10px 10px 5px #888888;
}

@media (min-width: 1200px) {
    .firstSection p{
        margin: 25px auto;
    }
}

